@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Light Mode */
.light-mode {
  background-color: white;
  color: black;
  transition: all 0.3s ease;
}

/* Dark Mode */
.dark-mode {
  background-color: #121212;
  color: white;
  transition: all 0.3s ease;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

.bg-custom{
   background-color: #00838f ;
}
.completed {
  text-decoration: line-through;
  background: gray;
  color: gray;
}
.overdue {
  background-color: #ffe6e6;
  border-left: 5px solid red;
}
.ul-bg{
  background-color: #0097a7;
}
.home{
  height: 90vh;
  width: 100%;
}
.btn-start{
  
  text-decoration: none;
}
